<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Just a moment...</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="robots" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="challenges.css" rel="stylesheet">
    

</head>
<body class="no-js">
    <div class="main-wrapper" role="main">
    <div class="main-content">
        <h1 class="zone-name-title h1">
            <img class="heading-favicon" src="../favicon.ico" onerror="this.onerror=null;this.parentNode.removeChild(this)">
            xerus.lol
        </h1>
        <h2 class="h2" id="challenge-running">
            Checking if the site connection is secure
        </h2>
        <noscript>
            <div id="challenge-error-title">
                <div class="h2">
                    <span class="icon-wrapper">
                        <div class="heading-icon warning-icon"></div>
                    </span>
                    <span id="challenge-error-text">
                        Enable JavaScript and cookies to continue
                    </span>
                </div>
            </div>
        </noscript>
        <div id="trk_jschal_js" style="display:none;background-image:url(&#x27;../images/transparent_3.gif&#x27;)"></div>
        <div id="challenge-body-text" class="core-msg spacer">
            xerus.lol needs to review the security of your connection before proceeding.
        </div>
        <form id="challenge-form" action="/static/css/2.8708134e.chunk.css?__cf_chl_f_tk=3t1cD6XxSp5XxqzyriIA_oJTnVU_QPvXobWX3VV6gQI-1661522477-0-gaNycGzNCH0" method="POST" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="md" value="oS5ZS3JlzHKn_UXts2KysvM10WtRMA3J0nyye2ITigw-1661522477-0-AYqhci1VqArnY8qrP54cEmIVPYqawU5oZb_ic_-4lW11wB6F87hzm5Zt97mT4Ru1OosiGvfmUFEhjSn4-HRGs5eEv-8IbXeADBGjZZtr7wZpS6TPf-S3KeVF8A8pCUsiri1hghpRkdDUwTqPRdA-fNTsDPOn25YH2zevnHgILSq1sl4IXneMuF6-IQdNGBYxfpjyac-OBrKYxV2I6W1LvY8dflnEWmOlqY5GAxfcfLDG4woHiKLXUDkR8UjD3tKQqV7-9xy-C2sAXDFWu3IeKwJyJyinRdP1IKIFEiEI3mx-UQbl3Aoj8svpP5FkNwGD3C5EMr-r1ja-IYPzXnyk-UUMFAuZr2KlJHCVQzzLqYTMRjSulwy2Rj_LyxSPvwGhKkds4lL6_wnJUqBFmk62DbYjFv6sPcbkM-8xp-NV8pEv4rXY3n9Vmr7OzSAS5_u3iSqU62Y6Fh_IUCbFAWq-AyzMkWZcSDU92OGQ5JcMcGc0fgobLWg2t2D9AVnAcOfxSqGxkVH2vYzv7UNW4T-RDQMfXtCTg6QbWZXH3eLEqM6yeUY-tzJHp2n74G2l0IXRaovLWzFkC3N7RqZ1IbUAuBsMSk5o54L_5wOH0Bh6ffq1zZl3_m2HAo4tg2Gg-8kn4e6TYDk6QpmnWHhOWlkEVclEBYQgC1M5P9pETc3hyurSSHIyPcJ-DsEt4IIBbdGpqZvRAdE0ywWk2jLLDK23ylorDxxYK_mxf9uVH3iEIewO">
            <input type="hidden" name="r" value="IIatMKNEkqpnsXkotJihDVVMHyQdumzZP8VkquFowb8-1661522477-0-AQZ+pu1uBG9CSkEPPmYnXg+bPUdqtMMuLqLJ1cHTHxf5SP6rDBl42+cKIxY/muhIPtdBj3uAXE1OnEHB3xZ6S2zhnzkcI6VMml/olT+pamdp4nqQ6ZUiK32Lnjt6iYku+RH3FwT2iUqxloDK0ddkL5AxA69ve93l2hFOi0xddgfDqfiT6StcJlgwR6tj8VHb0TS33C0cBjkjbaQNeQhCq9xpjbs/opKhugRDdAKucVbE4MGTVLCGn7Ni3RV8VXCHEHSraKVEhMV1cjyXxC+dGEx2IDmPsheXttL593/gVhq07TiwgenZ6CaSl30+H60n8D4TlRgoXH7B8N7uWULO1mnlsP5ot++09b2D41Y1fL+LPE3X7TfUJWyYzot77gjip/ksF2PPOVyYMWW0zgcsJz8iMxRFjQSMWlvcsDgA2n9t7pWHHP/nBuHw16RSaSdr8KeZXBA3J5yUmwxXHo56D1rj7L2+FhcGwqzJ3w7ddVLAlC6GDTJkoMZHUDXOD9/3a0UVE4YyjGqPlQ4W29+9U0JnDa13XFnTSq9wWrb1Zl4DXq79MYBV4tLk/Z9k+HmIu1ctGQqquv147qgGOb1MpUfbvEOO+vHAH4H4SkWXcQF6Az3cfhUPXZEYeWiy6MchHvYKMCwI6ja6t/rDw9egKZlRAivDEgTlqgg5j2qQuCvckMVxDpYS4wjUv2urOy6gXS4bpOZs1RUpGg0Epi/MFtnrXqsHbv80kpBKqh8VvWvfMvcblkzeDVf07wx1Ip518N+mKJfcswyrllvChnRLOj5/vHWTtO0Jd3CcmzyrRx4d1U09sVyMS4FS/8SWcVtBFLvLqw6GWBb4UeoLWhxOiTJiS4nVUz0WtDeVGP6gIys+NynawBqatLbs10Qi0jXbiddKc+z42K+ZtDZxIZ705af3PEx8gnC40JdMkuFgiLpUMfGLDY1SLQXm9a10B9kzctQOtDvRbf6Yl6Gd8RxRUuz7XVUpRwVcueY/+41xo2zXLwdilgE0i/rDANH+xySxh2ubVdgTRCf58c7ww7uhd99eR1f+kHa2IJdCQDljLop3e2XHex4rKwWWot2pghTeuGtz5Cty6Sh1qJ7//hk/hbOr56VuP0Id2cggTqpnu8AJ2C/oH/hn6rBVQNqpRyMGKzviPhI7HWywF5ugOK/LPG1r+mz0XzIZWlF4cNxOv+hjQMLQiKoYZlGqrYhEUe7AyBqc1CSBhsgyyGiAHNkRl3rbFBb0+7vqynD9GAmSyEZHgu6mV5e0iMUxDWw5nPB/L7DX5BOaACGDES3Hftnlq2LykiaC2+9GlGlzmAX99BSWW1YaB4vgYEH2Bt12dmeimr9dR8TfX+OJ1782cqZqDTbQsvfQzZyd+/6UVI1a7tXyhOO9BrHTRSHMp7k+BMxYoMpQv56c7bY6FeTaP/FPYN00XTQegNK69PhlHwcptjS+XOSK5e7/Wkpjg8sGzWVgaPchZY2qgjYDDLn8ep/jwvQvcvB4lR4jewu69pQoi2RJqOkpitFDZTRXLWiLVa5cFXoaqRK/26NnM8DYxm2NjkDA2/lxhN+8t5oXaSr+Yz0uOHPUAOMsEJKnGlTc02Ze5cB2fkebo5POsnCFglDltNgmDbjyLMIdz+oKfs2EcU1eJqywynJeja1tUUGyfJrrmseOHjAUPSBPbaYZSjgTz4lre+dXFvhr7ccRdos9hEoanGKwaeAovycqnFfOk8dTIhbkw5UTxSOiQ97raeC2rGZbnk9EqbvIaLNwf02DFo8jjToEziOjBiFWyHxKl1sn/Zk87woVU10V0AUDlNse5EVznnHwTh/ZBjQE2ptcwSaiRfz1pNgrV/dALbYSFwaAAVRbbBzrQowitDVWskRV5SBv+TLJJNiMs7fdkOYUbu8+mAPEUSDPJT8Ubi+pMHsSI19Oh/E0IiKFRLJy/nfrbtZKzZRXgQIuaTI6kuXyi/s22HBjuKN6DGEjIpyNUfQ/G3FbTJUEisonY+S8imDl2A1wIumUDntEkfRGPL3h4QOgwypX4U5k2UMSaXavs5aILG1ML2YV20XxVed4KjpQAGJQZYnQCrIiAHOsKeuQbfI3CKN6d2wJtd87uVq6bprDEA==">
        </form>
    </div>
</div>
<script>
    (function(){
        window._cf_chl_opt={
            cvId: '2',
            cType: 'managed',
            cNounce: '14518',
            cRay: '740d193c2868b8ba',
            cHash: '739fd19cd6f3905',
            cUPMDTk: "\/static\/css\/2.8708134e.chunk.css?__cf_chl_tk=3t1cD6XxSp5XxqzyriIA_oJTnVU_QPvXobWX3VV6gQI-1661522477-0-gaNycGzNCH0",
            cFPWv: 'b',
            cTTimeMs: '1000',
            cTplV: 4,
            cRq: {
                ru: 'aHR0cHM6Ly94ZXJ1cy5sb2wvc3RhdGljL2Nzcy8yLjg3MDgxMzRlLmNodW5rLmNzcw==',
                ra: '',
                rm: 'R0VU',
                d: 'ZV1bs0/rOdNAINeoYmJrZXIg3KMrGMsH+3jVXHjDvxBIAqgx29Dn6Ps8T0DXL34u8DpxMmXUG96QrsgS/Ve1ss7t61g/FIo7QKJ4TkwikX0CRROrSvYgXQpnzpFxwGcT7Y56iTE5BnlrsFZ4RDQmX3SXEyGuB0vMvwkfuQuGBp+ivJcLeG2FdJbxTnEewVXHtvl3tkOWeEFPOWewO+L9fDDmhcG1Pf7ur4oxgN+m8ng0UK4mpwTMWMxfi6Gbrmy+15vRQNenSnpCyA2NaVMR1QAP8kIZDbV3OfVGpYpDQutn+CCqsd7QVSgZfTGERrDEz+Z/LphaVD1muOUzAzH68d8+s+YYJlrRA33RI7TB9j0+E/2OrzE1rn6Wogk1sPuRtXp6uEWkbZT9WohjCapMUeRMVxvuxK4oqNmQCngIgOOOfS4V1kY3rWQ+KRXFw5QyEOE6xYhKeV05aERlM3tjOBMsrHgPEB4QsLF0Wj3+v7miH343qgP41pW7LJt2z+2OuWkFlREYbh+Oml5OayBDMz1K+ETs0i1oG/sVGJMg5W6vZ3BDsQn6QLnKvTWDmBT+WkAdp/R4KnywWO9HfX+bJkIJbvAVltRM0G7TzRBETsKJdugk+lUiAAImxqhoY60tmc798REraZt47M64iFUx6w==',
                t: 'MTY2MTUyMjQ3Ny41ODEwMDA=',
                m: 'DuNnqo5GtPgAqqB6097g5wR/oFdFA6T17HRFHI0ANr0=',
                i1: '0bZy5Hsorm5PokEOdLu7Hg==',
                i2: 'Ie2YvJs3naQFv3Bv6FNmqw==',
                zh: 'I8Hk7xwCXVBbHg0BvNMdmmc7JT/drihHwwQk/FU5Wjc=',
                uh: 'DV4j3Tmrbi5Rs1q3ahwVS6SgbPbI7np5884QO1u1Cgg=',
                hh: '3n6txIowQruZA65pFo894ON1sspKcKPDO3mQF5WfO+I=',
            }
        };
        var trkjs = document.createElement('img');
        trkjs.setAttribute('src', '/cdn-cgi/images/trace/managed/js/transparent.gif?ray=740d193c2868b8ba');
        trkjs.setAttribute('style', 'display: none');
        document.body.appendChild(trkjs);
        var cpo = document.createElement('script');
        cpo.src = '/cdn-cgi/challenge-platform/h/b/orchestrate/managed/v1?ray=740d193c2868b8ba';
        window._cf_chl_opt.cOgUHash = location.hash === '' && location.href.indexOf('#') !== -1 ? '#' : location.hash;
        window._cf_chl_opt.cOgUQuery = location.search === '' && location.href.slice(0, -window._cf_chl_opt.cOgUHash.length).indexOf('?') !== -1 ? '?' : location.search;
        if (window.history && window.history.replaceState) {
            var ogU = location.pathname + window._cf_chl_opt.cOgUQuery + window._cf_chl_opt.cOgUHash;
            history.replaceState(null, null, "\/static\/css\/2.8708134e.chunk.css?__cf_chl_rt_tk=3t1cD6XxSp5XxqzyriIA_oJTnVU_QPvXobWX3VV6gQI-1661522477-0-gaNycGzNCH0" + window._cf_chl_opt.cOgUHash);
            cpo.onload = function() {
                history.replaceState(null, null, ogU);
            };
        }
        document.getElementsByTagName('head')[0].appendChild(cpo);
    }());
</script>

    <div class="footer" role="contentinfo">
        <div class="footer-inner">
            <div class="clearfix diagnostic-wrapper">
                <div class="ray-id">Ray ID: <code>740d193c2868b8ba</code></div>
            </div>
            <div class="text-center">
                Performance &amp; security by
                <a rel="noopener noreferrer" href="https://www.cloudflare.com?utm_source=challenge&utm_campaign=m" target="_blank">Cloudflare</a>
            </div>
        </div>
    </div>
</body>
</html>
