<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Just a moment...</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="robots" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="challenges.css" rel="stylesheet">
    

</head>
<body class="no-js">
    <div class="main-wrapper" role="main">
    <div class="main-content">
        <h1 class="zone-name-title h1">
            <img class="heading-favicon" src="../favicon.ico" onerror="this.onerror=null;this.parentNode.removeChild(this)">
            xerus.lol
        </h1>
        <h2 class="h2" id="challenge-running">
            Checking if the site connection is secure
        </h2>
        <noscript>
            <div id="challenge-error-title">
                <div class="h2">
                    <span class="icon-wrapper">
                        <div class="heading-icon warning-icon"></div>
                    </span>
                    <span id="challenge-error-text">
                        Enable JavaScript and cookies to continue
                    </span>
                </div>
            </div>
        </noscript>
        <div id="trk_jschal_js" style="display:none;background-image:url(&#x27;../images/transparent_2.gif&#x27;)"></div>
        <div id="challenge-body-text" class="core-msg spacer">
            xerus.lol needs to review the security of your connection before proceeding.
        </div>
        <form id="challenge-form" action="/fonts/index.css?__cf_chl_f_tk=3t1cD6XxSp5XxqzyriIA_oJTnVU_QPvXobWX3VV6gQI-1661522477-0-gaNycGzNCH0" method="POST" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="md" value="hMVrrQuLGKuLXAVn1xYMMnlgGV3lzfhlNdbC8KD0.P4-1661522477-0-AQ-AeV2VaISGoko0SXj2R0DpYEA_uqAJXGjsSocz3yuO7ofmTrCgs2NT9vMM2tQ8OQu2mW8jv1Z52MD93nR23mTH7EUn1Y16r-6FQyod8tTubsNMWQWzSd16_HyJcyKupxebQ1hmQsI5hF1QtA9MrvgQRd2NVcB74nVeJO6u_9XJPvFFi8a8X9O3l6MpKM12rCKV1NGGz2eMjDM8TIN202yUAm4sWpiAHsv68dpDBc93gqH8EL_nFfo9iuAeacbBmVb1roJMaZe4alF48EEuqzA-Z5TlCEWn1G-00IOC3HE1qyAO0jRWPphcR7p6qf6Lx-QZPpPm6hI88JKlQmceiH3skh3OwmdpkfwwvmutRDaocD_AObbzfnIIQEYi7z9cjwFR55L2OA3npSiCJ4YWQW4w7pzTGtZPQd2MptmXdvqw80RgyJYe-m3f69HEhRz3aJwiFGB9cxTMqvXv-KXesnJbQvLj9EYwVCWeR8Gp9DC8UiEb2jwAtQB1Ze5l9iOhgARAkcdiRmrjzecMBlbXxxMLUShZ1Z7O2qdBoNz7Kb4KHwQZF8AWGR9qt4P9W8LeuU1klptX8pgxgRSpYC_bt0sRh77sST1D3QVHS_Mg90YaoDhE8kCyIZ2DUKdI53k7PQ3-O-uCGSHfsH1hDyn53DSaC5sab25rwYVjB5ZPD0ItCe4YTMTCPeS1RM2Pq4O_-g">
            <input type="hidden" name="r" value="cSZ47wZeVyquhXlmzVdn.LfTm.YxceBt3Sm9P16oIEk-1661522477-0-AQePEOACITrXdVZEI6Nw5+z7JZp8Qxth76jxjF7L3KoVC4QZvnuipMRP6yg9jx/aMVS3Qu7zzH7nYu7XqBM+cERMA0PfC5xX3NZT0v8NuBIjJGxOaHFkAzvVrHC8uKDeZZ9GWy8SvF2iepHF+syXyCx0mc9BFpg2W0yTKYTuuT0nYjbTHqk4pZKkMVFXlrO6gcvUFRS2MFDeDi5Dn4r68qXYyN/3AtVMfElbb3xM+XTAf313lW7HGksRWvK7jKS2ViqHri5R/WFEu+DW5hAHxvqal4OAuUoSVQuyzjlkzXUNVe5k1MHPv8lqkeSVkbU3ufb+WP/iwLv7hYus08dtyn0Kwd3KC/iG3lp1FTDwKZgtTvwxVJFYUE9AXukSR9xiT3xkn+rP8MIgxJP9DvjXlJOMcGBJRgRxDHPPYUnDZfiEHJ8odWuAptO7JWjGOXtr5jhALyT9N2TMHUMn6w3HAQax8ThGhw5H63FhFeZsbxuWX2uwqPc50HsaH0+KEzK1lBCft/PLxU60sGAnTB9IypzLv/I0e9TkgUUqKaEQpNIBMzfC/RdOGIGwVNHbcIKOaTnG0aWa1f3s+3B4YCwnCVY1fZssV59ax2O88Qt9i15ty/xy9msXMqioKRygNC0V+d4J5uLcRRc5WawpJTPIlX/I82ygGbe6YOO0TC1GxXBtVm1h8cAj6uUo8+RsoEdSp/YPEgr/DxddPll/EAos2csDUh+/jmXiK3AjvyDpkwq3TqHclgs3j2ey+43IUi6CKxneuL6hlpOzdxLPdJ/Xi+JPZj4WPNHT1Epb36D2xty4KlrTAzLE7bH+KgCuUnbw6u/jDM6x5ITO03G9wD/HFCV+bVM25J12NW1Ik2+q5RLRuLIBheurCHFmbzX/qye5VGjCXeFMd1zEOZxpTndXupNbBJpPewkI7fUDXB546uOO676L3gugTEFoDgDpYeG1x3g4PhmaVkFFqaCNyS3CazILYxCPU7UNockYJP8N0/0MwP8zJLrxH7SFecKff0Px6iDWqnwMTFBP3R7DgfKoq5LiSjA6kr6nTtPgfCC/rKvWg0ocK1hZmS8IJ4X8grWKcGaX/BLdXGR9Y2IXyS5NWKxATK0tXc+dX4BIXmM1zIaG0RbxgONNFabbZ5fvxUImHSfNJvH/V24wI6iqAmctxM0P4RwX1KuQ/r4Cj/koZiQZb1blMLpZd7dLXKxMLPebBprAElV42x0wT8efgL2zVOp1Qw6PRDuuYJ0aRFBpi/6d3D5X3RD7oWC8JAs+PZYAm/OVBL7M2CrpUp7GgPPED2qOvMHH+bFfqe2q5HPk7W52SPRiFRFTgT1rbH3zV3VbP9wmMeVexiZCp/HG9FT5I9KtwAqRLysKY+YGKCgXe2icHW19njX/vNY1DT1oiNpoQgb38cowkDeodMFfJ2FP0QliIPo3FqfSgLyIikQSForic4UCNtnZxSk7LneH3UqpNFkSo2g4PKuvuY/KRE3bFyUfZKUryhDVXCuOB808Dyyumkzim6PhwjGrqvrjxDnzmU9RRkAUBk4Rbr/pmAwDf2g7m/KvxJJX8WWuwanwugHQaxfIboFZCVD5k1V4BjG9eTazgH3bQckAZ/02H8wp/U66uyOuoZ7LgjmEmvi9iVVpa0ANPA+9Rm/qfPz/+qwW7wXI7ZmvJwMcCOQfa3/65yraZMi84G4EPPh7WeXHmeAIKot2OFHFDKQkPehKFUbChmuwhECkag9pHLMqhdCUvA5Nu+Z9C8Zhqb9ixdFM3y0ZqDBMLxpe5y/8zic1GMjIk0VssHjDf/jkBvbTcztMbNcaVWfYhrvZfMn+xorTsl25Ts9+SN5GmzyK9V6u7KqBjRWTDjYINAi+yzxmVrBldi9K63Iz04Llm27S1cNOARpTUtMcyAAi7H/Q/O/h4u3ZdZ3JCdZ38Un27LjBK8R0cdJco3/8ZXtoHfnGyjR59QtZTjuavSjIdl1FccL2e2XIdPHHksG5qaJ+Msa3m4kA5RI84uK45XV2O8YsgOaqd0cKEUlKENqo2xBDxGGeRqBeoun2GsLEOdXAW5yGlzidy6qge2aBqE7zEnt0OvpV6ITquwJHvnYBwvtR/s09RTjfoA==">
        </form>
    </div>
</div>
<script>
    (function(){
        window._cf_chl_opt={
            cvId: '2',
            cType: 'managed',
            cNounce: '18790',
            cRay: '740d193c2b1ab98f',
            cHash: '09a61aefb5102bd',
            cUPMDTk: "\/fonts\/index.css?__cf_chl_tk=3t1cD6XxSp5XxqzyriIA_oJTnVU_QPvXobWX3VV6gQI-1661522477-0-gaNycGzNCH0",
            cFPWv: 'b',
            cTTimeMs: '1000',
            cTplV: 4,
            cRq: {
                ru: 'aHR0cHM6Ly94ZXJ1cy5sb2wvZm9udHMvaW5kZXguY3Nz',
                ra: '',
                rm: 'R0VU',
                d: 'fU87Kvl139yHc2dX37OWbyE7jHWAqp4v4gawyaPwwFVH6NkVn2xfgj9kiKAamOgte93SB/wJwixB+Ly9F/jatHuPwPXwtDZypA295SJQ+aH6wJ9IBkdF2nCCl/zc5bPzuywF8XVRgfxZKZlUyOlV8BPhWe0OB+gLXFjV+ao6K0GCxKnwKUNhGXu2zsMjh7WPMWOinkUNWTtBQqiFaLAkc5EyYbMem8SuNztyYK6d/fuWMhJ+yLxygm+WUmQMAfgOh3mhmpo1Q1UzDXAX9k+EzCdh3Zr7XBhxstKZsnmlR0SICBF9DjcUXXX9KMC4a9O+GcOF6K7js66y3ct9T61u6V5vavKmMzQH2wm8J3A9mZZqa3YVJ5isdRf+Qn+TiZXpOI1z/xATm31+LIHNcmsqlePsD3hZFX7EgFlhYy0Yn+zyx+rCEUP8JMrhocUI4Hi+GfoEJOzAR99/6WljdBqgGTzvmP2auxLsQEs97clQc8/DEN/B/k3sK4eFCawlL0F5632Jy28kE95zt2hJv1ztdvOvrpSNDOFwAKqr/8Hg9qL00SIFWLLaHwtmkbxPIJqgZK94Z93BNSdiDfMSfwjGL/ef7Ye+OXQ2Ez0ZY7qySCRNCwg47RlbnZA1GLqyEJiVno4WtGINF/tdb86iFIYWXg==',
                t: 'MTY2MTUyMjQ3Ny40ODEwMDA=',
                m: 'MKPbyqFFVd1y6qKaWlcxxUZql55+XXFsVV8oa/VWWDU=',
                i1: '/FheDdriMIxQaRvkFGZCfA==',
                i2: '54a9l6eCAziy71A5TQ2lnQ==',
                zh: 'I8Hk7xwCXVBbHg0BvNMdmmc7JT/drihHwwQk/FU5Wjc=',
                uh: 'DV4j3Tmrbi5Rs1q3ahwVS6SgbPbI7np5884QO1u1Cgg=',
                hh: '3n6txIowQruZA65pFo894ON1sspKcKPDO3mQF5WfO+I=',
            }
        };
        var trkjs = document.createElement('img');
        trkjs.setAttribute('src', '/cdn-cgi/images/trace/managed/js/transparent.gif?ray=740d193c2b1ab98f');
        trkjs.setAttribute('style', 'display: none');
        document.body.appendChild(trkjs);
        var cpo = document.createElement('script');
        cpo.src = '/cdn-cgi/challenge-platform/h/b/orchestrate/managed/v1?ray=740d193c2b1ab98f';
        window._cf_chl_opt.cOgUHash = location.hash === '' && location.href.indexOf('#') !== -1 ? '#' : location.hash;
        window._cf_chl_opt.cOgUQuery = location.search === '' && location.href.slice(0, -window._cf_chl_opt.cOgUHash.length).indexOf('?') !== -1 ? '?' : location.search;
        if (window.history && window.history.replaceState) {
            var ogU = location.pathname + window._cf_chl_opt.cOgUQuery + window._cf_chl_opt.cOgUHash;
            history.replaceState(null, null, "\/fonts\/index.css?__cf_chl_rt_tk=3t1cD6XxSp5XxqzyriIA_oJTnVU_QPvXobWX3VV6gQI-1661522477-0-gaNycGzNCH0" + window._cf_chl_opt.cOgUHash);
            cpo.onload = function() {
                history.replaceState(null, null, ogU);
            };
        }
        document.getElementsByTagName('head')[0].appendChild(cpo);
    }());
</script>

    <div class="footer" role="contentinfo">
        <div class="footer-inner">
            <div class="clearfix diagnostic-wrapper">
                <div class="ray-id">Ray ID: <code>740d193c2b1ab98f</code></div>
            </div>
            <div class="text-center">
                Performance &amp; security by
                <a rel="noopener noreferrer" href="https://www.cloudflare.com?utm_source=challenge&utm_campaign=m" target="_blank">Cloudflare</a>
            </div>
        </div>
    </div>
</body>
</html>
